.secao
{
    background: var(--bg-black-900);
    min-height: 100vh;
    display: block;
    position:relative;
    left: 150px;
    padding: 0 30px;
    top: 0;
    right: 0;
    z-index: 0;
    opacity: 1;
    padding-top: 60px;
    padding-bottom: 70px;
}