.principal__foto{
    flex: 0 0 40%;
    max-width: 40%;
    text-align: center;
    position: relative;
}

.principal__foto::after{
    content: '';
    position: absolute;
    height: 80px;
    width: 80px;
    border-bottom: 10px solid var(--skin-color);
    border-right: 10px solid var(--skin-color);
    right: -15px;
    bottom: -20px;
}

.principal__foto::before{
    content: '';
    position: absolute;
    height: 80px;
    width: 80px;
    border-top: 10px solid var(--skin-color);
    border-left: 10px solid var(--skin-color);
    left: 15px;
    top: -20px;
}