@media(max-width: 1199px){
    .menu-lateral{
        left: -270px;
    }

    .menu-lateral.abrir{
        left: 0;
    }

    .menu-lateral .navegacao-lateral{
        display: flex;
        left: 30px;
    }

    .menu-lateral .navegacao-lateral.abrir{
        left: 300px;
    }

    .secao{
        left: 0;
    }

    .secao.abrir{
        left: 270px;
    }

    .info-pessoal__item___destaque{
        display: block;
        margin-left: 0;
    }

}