.navegacao-lateral__indicador
{
    height: 2px;
    width: 18px;
    background: var(--skin-color);
    display: inline-block;
    position: relative;
}

.navegacao-lateral.abrir .navegacao-lateral__indicador{
    background-color: transparent;
}


.navegacao-lateral__indicador::before
{
    content: '';
    height: 2px;
    width: 18px;
    background: var(--skin-color);
    position: absolute;
    top: -6px;
    left: 0;
}

.navegacao-lateral__indicador::after
{
    content: '';
    height: 2px;
    width: 18px;
    background: var(--skin-color);
    position: absolute;
    top: 6px;
    left: 0;
}


.navegacao-lateral.abrir .navegacao-lateral__indicador::before{
    transform: rotate(45deg);
    top: 0;
}

.navegacao-lateral.abrir .navegacao-lateral__indicador::after{
    transform: rotate(-45deg);
    top: 0;
}